@page "/"
@inject WebsiteWASM.Services.UIEventService UIEventService
@using WebsiteWASM.Pages.Desktop.Components;
@using WebsiteWASM.Pages.Desktop.Windows

<div class="container" style="margin: 0; max-width: none">
    @* Tool Bar *@
    <div class="row">
        <ToolBar />
    </div>

    <div>
    @* Desktop icons *@
        <div class="col-2">
            <Icon Href="https://github.com/swizzle1999" Text="Github" ImgSrc="images/github.png" />
        </div>

        <div class="col-2">
            <Icon Href="" Text="LinkedIn" ImgSrc="images/linkedin.png" />
        </div>

        <div class="col-2">
            <Icon Href="https://www.youtube.com/swizzle1999" Text="YouTube" ImgSrc="images/youtube.png" />
        </div>
        <div class="col-2">
            <Icon OnClickCallback="FileBrowserClicked" Text="Files" ImgSrc="images/folder.png" />
        </div>

        <div class="col-2">
            <Icon OnClickCallback="TerminalClicked" Text="Terminal" ImgSrc="images/terminal.png" />
        </div>
    </div>
</div>

<div class="d-flex">
        <Terminal @ref="terminalWindow" Title="Terminal" />
</div>

<div class="d-flex">
    <FileBrowser @ref="fileBrowserWindow" Title="File Browser" />
</div>



@code {
    private Terminal? terminalWindow;
    private FileBrowser? fileBrowserWindow;

    private void TerminalClicked() {
        if (terminalWindow != null) {
            terminalWindow?.Window?.Toggle();
        }
    }

    private void FileBrowserClicked() {
        if (fileBrowserWindow != null)
        {
            fileBrowserWindow?.Window?.Toggle();
        }

    }
}
