@using WebsiteWASM.Services
<a @onclick="ButtonClicked" class="icon" href="@Href" target="_blank">
    <img class="icon-img" src="@ImgSrc" />
    <p style="text-align: center">@Text</p>
</a>
@code {
    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public EventCallback<Icon> OnClickCallback { get; set; }

    [Parameter, EditorRequired]
    public string ImgSrc { get; set; 
    }

    [Parameter]
    public string? ImgSize { get; set; }

    [Parameter]
    public Folder? Folder { get; set; }

    private string? ImgStyle => string.IsNullOrWhiteSpace(ImgSize) ? null : $"width:{ImgSize};height:auto;";

    private void ButtonClicked() {
        OnClickCallback.InvokeAsync(this);
    }
}
