@inject IJSRuntime JSRuntime
@using WebsiteWASM.Pages.Desktop.Components;
@inject WebsiteWASM.Services.UIEventService UIEventService
@implements IWindow

<Window @ref="Window" Title="@Title">
    <div>test</div>
</Window>
@code {
    [Parameter]
    public string? Title { get; set; }

    public IWindow? Window { get; set; }

    public void Show()
    {
        Window?.Show();
    }

    public void Hide()
    {
        Window?.Hide();
    }

    public void Toggle()
    {
        Window?.Toggle();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
