@inject IJSRuntime JSRuntime
@using WebsiteWASM.Pages.Desktop.Components;
@using WebsiteWASM.Services
@inject WebsiteWASM.Services.FileSystemService FileSystemService;
@implements IWindow

<Window @ref="Window" Title="@Title" TopPercentage="40" LeftPercentage="40">
    <div style="display: flex; gap: 10px">

        @if (FileSystemService.CurrentFolder?.IsRoot == false){
            <Icon Folder="FileSystemService.CurrentFolder?.GetParentFolder()" OnClickCallback="IconClicked" Text="..." ImgSrc="images/folder.png" />
        }

        @for(var index = 0; index < FileSystemService.CurrentFolder?.GetSubFolders()?.Count; index++)
        {
            <Icon Folder="FileSystemService.CurrentFolder?.GetSubFolders()?[index]" OnClickCallback="IconClicked" Text="@FileSystemService.CurrentFolder?.GetSubFolders()?[index].Name" ImgSrc="images/folder.png" />
        }

        @for (var index = 0; index < FileSystemService.CurrentFolder?.GetFiles()?.Count; index++) {
            <Icon Text="@FileSystemService.CurrentFolder?.GetFiles()?[index].name" ImgSrc="images/folder.png" />
        }
    </div>
</Window>
@code {
    [Parameter]
    public string? Title { get; set; }

    public IWindow? Window { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void IconClicked(Icon icon) {
        FileSystemService.NavigateToFolder(icon.Folder);
        StateHasChanged();
    }

    public void Show()
    {
        Window?.Show();
    }

    public void Hide()
    {
        Window?.Hide();
    }

    public void Toggle()
    {
        Window?.Toggle();
    }
}
