@inject IJSRuntime JSRuntime
@using WebsiteWASM.Pages.Desktop.Components;
@using WebsiteWASM.Services
@inject WebsiteWASM.Services.FileSystemService FileSystemService;
@implements IWindow

<Window @ref="Window" Title="@Title" TopPercentage="40" LeftPercentage="40">
    <div style="display: flex; gap: 10px">

        @for(var index = 0; index < FileSystemService.RootFolder.GetSubFolders()?.Count; index++)
        {
            <Icon Folder="FileSystemService.RootFolder.GetSubFolders()?[index]" OnClickCallback="IconClicked" Text="@FileSystemService.RootFolder.GetSubFolders()?[index].Name" ImgSrc="images/folder.png" />
        }
    </div>
</Window>
@code {
    [Parameter]
    public string? Title { get; set; }

    public IWindow? Window { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void IconClicked(Icon icon) {
        Console.WriteLine("test");
        Console.WriteLine(string.Join(", ", icon.Folder?.GetFiles()?.Select(i => i.name)));
    }

    public void Show()
    {
        Window?.Show();
    }

    public void Hide()
    {
        Window?.Hide();
    }

    public void Toggle()
    {
        Window?.Toggle();
    }
}
