.window {
    display: flex;
    flex-direction: column;
    padding: 0;

    border: 2px solid #333333;
    background: #222;
    color: #cfcfcf;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
    border-radius: 6px;

    width: 70vw;
    height: 70vh;

    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: auto;
}

