@inject IJSRuntime JSRuntime
@using WebsiteWASM.Pages.Desktop.Components;
@using WebsiteWASM.Services
@inject WebsiteWASM.Services.FileSystemService FileSystemService;
@implements IWindow

<Window @ref="Window" Title="@Title" TopPercentage="40" LeftPercentage="40">
    @* <div style="display: flex; gap: 10px">

        @for(var folder = 0; folder < Folders.Count; folder++)
        {
            <Icon Text="@Folders[folder].Name" ImgSrc="images/folder.png" />
        }
    </div> *@
</Window>
@code {
    [Parameter]
    public string? Title { get; set; }

    public IWindow? Window { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void Show()
    {
        Window?.Show();
    }

    public void Hide()
    {
        Window?.Hide();
    }

    public void Toggle()
    {
        Window?.Toggle();
    }
}
