@inject IJSRuntime JSRuntime
@using WebsiteWASM.Pages.Desktop.Components;

<Window Title="@Title">
    <!--Terminal Text-->
    <div style="display: flex; flex-direction: column; height: 100%">
        <div style="flex-grow: 1">
            <textarea @ref="terminalOutput"
                      class="terminal-text"
                      @bind="terminalText"
                      disabled="disabled"
                      style="margin-bottom: 0" />
        </div>

        <div class="input-line">
            <p class="terminal-prefix">@terminalPrefix</p>

            <textarea class="terminal-text"
                      rows="1"
                      @ref="commandInput"
                      @bind="inputValue"
                      @bind:event="oninput"
                      @onkeydown="@KeyPressed"
                      @onkeyup="@KeyReleased"/>
        </div>
    </div>
</Window>

@code {
    [Parameter]
    public string? Title { get; set; }

    private string terminalPrefix = "admin@swizz-server: $ ";
    private string inputValue { get; set; } = string.Empty;
    private string terminalText { get; set; } = string.Empty;

    private ElementReference commandInput;
    private ElementReference terminalOutput;

    private async Task KeyPressed(KeyboardEventArgs e) {
        if (e.Key == "Enter") {
            terminalText += terminalPrefix + inputValue.Replace("\n", "") + "\n";
            await JSRuntime.InvokeVoidAsync("terminalInterop.clearAndFocus", commandInput, terminalOutput);
            inputValue = string.Empty;

            StateHasChanged();
        }
    }

    private void KeyReleased(KeyboardEventArgs e) {
        if (e.Key == "Enter")
        {
            inputValue = string.Empty;

            StateHasChanged();
        }
    }
}

<script>
    window.terminalInterop = {
        clearAndFocus: function (commandInputElement, terminalOutput) {
            try {
                if (!commandInputElement) return;
                // Clear out user input from the text area
                commandInputElement.value = string;
                commandInputElement.focus();
                if (commandInputElement.setSelectionRange) {
                    console.log(commandInputElement);
                    commandInputElement.setSelectionRange(0, 0);
                }

                // Scroll terminal to the bottom
                terminalOutput.scrollTop = terminalOutput.scrollHeight;
            } catch (e) {
                console.error(e);
            }
        }
    };
</script>
