@inject IJSRuntime JSRuntime
@inject CommandParserService CommandParserService
@using WebsiteWASM.Pages.Desktop.Components;
@using WebsiteWASM.Services
@implements IWindow

<Window @ref="Window" Title="@Title">
    <!--Terminal Text-->
    <div style="display: flex; flex-direction: column; height: 100%">
        <div style="flex-grow: 1">
            <textarea @ref="terminalOutput"
                      class="terminal-text"
                      @bind="terminalText"
                      disabled="disabled"
                      style="margin-bottom: 0" />
        </div>

        <div class="input-line">
            <p class="terminal-prefix">@terminalPrefix</p>

            <input class="terminal-text"
                      rows="1"
                      @ref="commandInput"
                      @bind="inputValue"
                      @bind:event="oninput"
                      @onkeydown="@KeyPressed"/>
        </div>
    </div>
</Window>

@code {
    [Parameter]
    public string? Title { get; set; }

    public IWindow? Window { get; set; }

    private string terminalPrefix = "admin@swizz-server: $ ";
    private string inputValue { get; set; } = string.Empty;
    private string terminalText { get; set; } = string.Empty;


    private ElementReference commandInput;
    private ElementReference terminalOutput;

    private async Task KeyPressed(KeyboardEventArgs e) {
        if (e.Key == "Enter") {
            // Log the command to the terminal and clear input
            PrintToTerminal(inputValue);
            await JSRuntime.InvokeVoidAsync("terminalInterop.clearAndFocus", commandInput, terminalOutput);

            // Process the command
            string result = CommandParserService.ParseCommand(inputValue);

            if (result != string.Empty) {
                // Print the result to the terminal
                PrintToTerminal(result);
            }

            // Clear input value
            inputValue = string.Empty;

            StateHasChanged();
        }
    }

    private void PrintToTerminal(string text) {
        terminalText += terminalPrefix + text.Replace("\n", "") + "\n";
        StateHasChanged();
    }

    public void Show() {
        Window?.Show();
    }

    public void Hide() {
        Window?.Hide();
    }

    public void Toggle() {
        Window?.Toggle();
    }
}

<script>
    window.terminalInterop = {
        clearAndFocus: function (commandInputElement, terminalOutput) {
            try {
                if (!commandInputElement) return;
                // Clear out user input from the text area
                commandInputElement.value = '';
                commandInputElement.focus();

                // Scroll terminal to the bottom
                terminalOutput.scrollTop = terminalOutput.scrollHeight;
            } catch (e) {
                console.error(e);
            }
        }
    };
</script>
