@inject IJSRuntime JSRuntime
@using WebsiteWASM.Pages.Desktop.Components;
@inject WebsiteWASM.Services.UIEventService UIEventService
@implements IWindow

<div class="window" style="@StyleForWindow">
    <div class="row window-title">
        <div class="col">
        </div>

        <div class="col" style="text-align: center">
            <p>@Title</p>
        </div>

        <div class="col">
            <p @onclick="OnCloseButtonClicked" class="ms-auto" style="font-weight: bold; padding-right: 10px; cursor: pointer; width: fit-content">X</p>
        </div>
    </div>
   
    <div class="row" style="flex-grow: 1">
        @ChildContent
    </div>
</div>
@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool IsVisible { get; set; } = false;

    IWindow IWindow.Window => this;

    public void Show() {
        UpdateVisibility(true);
    }

    public void Hide() {
        UpdateVisibility(false);
    }

    public void Toggle() {
        UpdateVisibility(!IsVisible);
    }

    private void OnCloseButtonClicked() {
        UpdateVisibility(false);
    }

    private void UpdateVisibility(bool isVisible) {
        IsVisible = isVisible;
        StateHasChanged();
    }


    private string StyleForWindow => IsVisible ? "display: flex" : "display: none";
}
