@inject IJSRuntime JSRuntime
@using System.Text
@using WebsiteWASM.Pages.Desktop.Components;
@inject WebsiteWASM.Services.UIEventService UIEventService
@implements IWindow

<div class="window" style="@StyleForWindow()">
    <div class="row window-title">
        <div class="col">
        </div>

        <div class="col" style="text-align: center">
            <p>@Title</p>
        </div>

        <div class="col">
            <p @onclick="OnCloseButtonClicked" class="ms-auto" style="font-weight: bold; padding-right: 10px; cursor: pointer; width: fit-content">X</p>
        </div>
    </div>
   
    <div class="row" style="flex-grow: 1">
        @ChildContent
    </div>
</div>
@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public int TopPercentage { get; set; } = 50;

    [Parameter]
    public int LeftPercentage { get; set; } = 50;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool IsVisible { get; set; } = false;

    IWindow IWindow.Window => this;

    public void Show() {
        UpdateVisibility(true);
    }

    public void Hide() {
        UpdateVisibility(false);
    }

    public void Toggle() {
        UpdateVisibility(!IsVisible);
    }

    private void OnCloseButtonClicked() {
        UpdateVisibility(false);
    }

    private void UpdateVisibility(bool isVisible) {
        IsVisible = isVisible;
        StateHasChanged();
    }

    // This is fucking disgusting.
    private string StyleForWindow() {
        // return IsVisible ? "display: flex" : "display: none";
        StringBuilder sb = new StringBuilder();
        sb.Append(IsVisible ? "display: flex" : "display: none");
        sb.Append(";");

        sb.Append($"top: {TopPercentage}%;");
        sb.Append($"left: {LeftPercentage}%;");


        return sb.ToString();
    }
}
