.window {
    flex-direction: column;
    padding: 0;

    border: 2px solid #333333;
    background: #222;
    color: #cfcfcf;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
    border-radius: 6px;

    width: 70vw;
    height: 70vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: auto;
}

.row {
    margin: 0;
    padding: 0;
}

.window-title {
    width: 100%;
    height: 20px;
    background-color: #3d3d3d;
    max-width: none;
}

